body {
    /* Resetting Broswer Default Styles */
    margin: 0;
    padding: 0;

    /* font-size (15px, text size), line-height (1.5 x font size), font-family */
    /*  */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}

/* Global */
.container {
    width: 80%;
    margin: auto; /* Moves it to the middle */
    overflow: hidden;
}

.container-2 {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header #branding {
    float: left;
    color: rgb(255, 128, 0);
}

header li {
    display: inline;
    margin-left: 20px;
}

header nav {
    margin-top: 30px;
    float: right;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

header .current a {
    text-decoration: underline;
}

header a:hover {
    color: rgb(255, 128, 0);
}

.header p {
    margin-top: 350px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
}

/* header - index.html */
#home-header {
    height: 900px;
    background-image: url('../img/homepage.jpg');
    /* Ensures background image covers the entire container while maintaining its aspec-ratio. */
    background-size: cover;
}

#what-we-do-header {
    height: 900px;
    background-image: url('../img/what_we_do.jpg');
    /* Ensures background image covers the entire container while maintaining its aspec-ratio. */
    background-size: cover;
}

#who-we-are-header {
    height: 900px;
    background-image: url('../img/who_we_are.jpg');
    /* Ensures background image covers the entire container while maintaining its aspec-ratio. */
    background-size: cover;
}

#contact-us-header {
    height: 900px;
    background-image: url('../img/contact_us.jpg');
    /* Ensures background image covers the entire container while maintaining its aspec-ratio. */
    background-size: cover;
}

/* main-content -homepage */
.container .seperate-summary {
    margin-top: 80px;
}

.container .seperate-summary h1, #boxes h1, .container-2 h3 {  
    font-weight: bold;
    font-size: 24px;
}

.container .seperate-summary p, .container .seperate-summary a {
    margin-left: 50px;
    font-size: 22px;
    width: 55%;
}


.container-2 p {
    font-size: 22px;
}

.container .arrow {
    font-size: 40px;
}

.container .seperate-summary a {
    color: rgb(255, 128, 0);
    font-weight: bold;
    text-decoration: none;
}

.container .learn-more {
    color: rgb(255, 128, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 30px;
    width: 55%;
}

.container .seperate-summary a:hover, .container a.learn-more:hover {
    text-decoration: underline;
}

.line-divider {
    height: 1px;  /* Making line thicker */
    border: none;  /* Remove default border */
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
}

#boxes {
    margin-top: 30px;
}

.seperator {
    margin-top: 80px;
}

.container-2.seperator h3 {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 128, 0);
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    font-size: 22px;
}

#boxes .box h3 {
    color: rgb(255, 128, 0);
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;

}

.underline-colour {
    text-decoration: underline;
    text-decoration-color: rgb(255, 128, 0);
}

/* Contact Us Section */
.create-background-colour {
    margin: 80px 0px;
    padding: 100px 0px;
    background-color: rgb(255, 128, 0);
}


.create-background-colour .container h2 {
    float: left;
    padding-top: 35px;
    color:rgb(255, 255, 255);
    font-weight: bold;
}


.create-background-colour .container .contact-button {
    float: right;
    padding: 35px 30px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 128, 0);
    color:rgb(255, 255, 255);
    font-weight: bold;
}

textarea.make-block {
    height: 120px;
    font-size: 20px;

}

.make-block {
    display: block;
    width: 90%;
    margin: 10px auto;
    height: 40px;
}

.container-2 form input {
    font-size: 20px;
}

.container-2 form {
    border: 3px solid rgb(255, 128, 0);
    border-radius: 5px;
    padding: 100px 30px;
    margin: 80px 0px;
    font-size: 22px;
}

#form-spacing {
    overflow: visible;
}

.required {
    color: rgb(255, 0, 0);
}

#form-intro {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


#submit-button {
    height: 50px;
    background-color: rgb(255, 128, 0);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.seperator-2 {
    margin-top: 80px;
}

/* footer */
.container footer .linked-icon {
    display: block;
    margin: 20px 0;
    font-size: 28px;
    color: rgb(255, 128, 0);
}

.container footer .contact-text {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.container footer a.contact-text:hover {
    text-decoration: underline;
}

.container footer p {
    font-size: 15px;            
}


/* Media Queries */
/* 768 is around tablet size */
@media(max-width: 768px) {
    header #branding,
    header nav, 
    header nav li,
    /* #newsletter form, */
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
    }
}
